
.container-main{
  &.ui.grid{
   margin: 0px;
    padding-top: 10px; 
  }
  
}

.checkbox-list{
    display: flex;
    flex-direction: column;
   &>.checkbox-item{
     padding: 5px;  
   } 

   .ui.checkbox label, .ui.checkbox+label, .ui.checkbox label:hover, .ui.checkbox+label:hover, .ui.checkbox input:focus~label {
    text-align: left;
}
}

